
.logo{
    height: 50px;
    width: 50px;
}
.recent{
    margin-top: 70px;
    font-size: 1.5rem;
}
.foopt{
    
        display: inline-block;
        height: 50px;
        margin: 30px;
        padding: 2px;
}
#text,
      #icon {
        line-height: 50px;
      }
      #icon {
        vertical-align: middle;
        font-size: 30px;
      }